- name: build users microservice
  hosts: all
  connection: local
  gather_facts: no

  tasks:
    #install collections
    - name: install aws collection
      command: ansible-galaxy collection install {{ item }}
      loop:
        - community.docker:<=3.4.3
        - amazon.aws:<=5.4.0
        - community.aws:<=3.2.0
        - git+https://github.com/CBIIT/datacommons-devops.git#/ansible/collections/bento/common/,main

    #docker login
    - name: docker login
      include_role:
        name: bento.common.ecr_login
      vars:
        region: us-east-1

    #build backend
    - name: build {{ project_name }} users microservice
      include_role:
        name: bento.common.build_auth
      vars:
        ansible_python_interpreter: /usr/bin/python3
        users_version: "{{ lookup('env','USERS_VERSION') }}"
        workspace: "{{ lookup('env','WORKSPACE') }}"
        build_number: "{{ lookup('env','BUILD_NUMBER') }}"
        project_name: "{{ project_name }}"
        image_version: "{{ users_version }}"
        tier: "{{ tier }}"
        container_name: "users"
        dockerfile_path: "{{ workspace }}/{{dockerfile_path }} | default('{{ workspace }}/playbooks/docker/dockerfiles/users-dockerfile')"
        container_image: "{{ ecr_repo }}/{{ project_name }}-{{ container_name }}:{{ image_version }}"
        container_registry_url: "{{ ecr_repo }}"
        container_build_path: "{{ workspace }}/bento-users"