- name: build auth microservice
  hosts: all
  connection: local
  gather_facts: no

  tasks:
    #install collections
    - name: install aws collection
      command: ansible-galaxy collection install {{ item }}
      loop:
        - community.docker:<=3.3.2
        - amazon.aws:<=5.4.0
        - community.aws:<=3.2.0
        - git+https://github.com/CBIIT/datacommons-devops.git#/ansible/collections/bento/common/,main

    #docker login
    - name: docker login
      include_role:
        name: bento.common.ecr_login
      vars:
        region: us-east-1

    #build auth
    - name: build {{ project_name }} auth microservice
      include_role:
        name: bento.common.build_auth
      vars:
        ansible_python_interpreter: /usr/bin/python3
        workspace: "{{ lookup('env','WORKSPACE') }}"
        build_number: "{{ lookup('env','BUILD_NUMBER')}}"
        project_name: "{{ project_name }}"
        project: "{{ project_name }}"
        image_version: "{{ lookup('env','AUTH_VERSION') }}"
        tier: "{{ tier }}"
        container_name: "auth"
        dockerfile_path: "{{ workspace }}/{{ dockerfile_path }} | default('{{ workspace }}/playbooks/docker/dockerfiles/auth-microservice-dockerfile')"
        container_image: "{{ ecr_repo }}/{{ project_name }}-{{ container_name }}:{{ image_version }}"
        container_registry_url: "{{ ecr_repo }}"
        container_build_path: "{{ workspace }}/bento-auth"