- name: deploy files microservice
  hosts: all
  connection: local
  gather_facts: true

  tasks:
    #install collections
    - name: install aws collection
      command: ansible-galaxy collection install {{item}}
      loop:
        - community.docker:<=3.3.2
        - amazon.aws
        - community.aws:<=3.2.0
        #- git+https://github.com/CBIIT/datacommons-devops.git#/ansible/collections/bento/common/,main
        - git+https://github.com/CBIIT/datacommons-devops.git#/ansible/collections/bento/common/,icdc


    #docker login
    - name: docker login
      include_role:
        name: bento.common.ecr_login
      vars:
        region: us-east-1

    - name: log into ncidockerhub
      docker_login:
        username: "{{ lookup('amazon.aws.aws_secret', 'cbiit/docker.docker_user', nested=true, region='us-east-1') }}"
        password: "{{ lookup('amazon.aws.aws_secret', 'cbiit/docker.docker_password', nested=true, region='us-east-1') }}"
        registry: https://ncidockerhub.nci.nih.gov

    #deploy files
    - name: deploy stage for {{ project }} files
      include_role:
        name: bento.common.ecs
      vars:
        cloudfront_key_group_name: "{% if tier == 'prod' or tier == 'stage' %}{{ lookup('amazon.aws.aws_secret', 'cloudfront.key_group_name', nested=true, region='us-east-1' ) }}{% else %}''{% endif %}"
        cloudfront_origin_id: "{% if tier == 'prod' or tier == 'stage' %}{{ lookup('amazon.aws.aws_secret', 'cloudfront.origin_id', nested=true, region='us-east-1' ) }}{% else %}''{% endif %}"
        cloudfront_domain_name: "{% if tier == 'prod' or tier == 'stage' %}{{ lookup('amazon.aws.aws_secret', 'cloudfront.domain_name', nested=true, region='us-east-1' ) }}{% else %}''{% endif %}"
        cloudfront_key_group_id: "{% if tier == 'prod' or tier == 'stage' %}{{ lookup('amazon.aws.aws_secret', 'cloudfront.key_group_id', nested=true, region='us-east-1' ) }}{% else %}''{% endif %}"
        cloudfront_private_key: "{% if tier == 'prod' or tier == 'stage' %}{{ lookup('amazon.aws.aws_secret', 'cloudfront.privatekey', nested=true, region='us-east-1' ) }}{% else %}''{% endif %}"
        ansible_python_interpreter: "/usr/bin/python3"
        execution_role: "{% if iam_prefix is defined and iam_prefix != '' %}{{ iam_prefix }}-{{ project_name }}-{{ tier }}-ecs-task-execution-role{% else %}{{ project_name }}-{{ tier }}-task-execution-role{% endif %}"
        task_role: "{% if iam_prefix is defined and iam_prefix != '' %}{{ iam_prefix }}-{{ project_name }}-{{ tier }}-ecs-task-role{% else %}{{ project_name }}-{{ tier }}-task-role{% endif %}"
        project_name: "{{ project_name }}"
        region: "us-east-1"
        container_name: "files"
        files_version: "{{ lookup('env','FILES_VERSION') }}"
        image_version: "{{ files_version }}"
        tier: "{{ tier }}"
        ecs_cluster_name: "{{ project_name }}-{{ tier }}-ecs"
        sumo_collector_endpoint: "{{ lookup('amazon.aws.aws_secret', 'bento/{{ project_name }}/{{ tier }}.sumo_collector_endpoint', nested=true, region='us-east-1') }}"
        sumo_collector_token: "{{ lookup('amazon.aws.aws_secret', 'bento/{{ project_name }}/{{ tier }}.sumo_collector_token_files', nested=true, region='us-east-1') }}"
        container_port: "8081"
        container_memory: "512"
        container_cpu: "256"
        ###################################################################################
        #container_image_url: "{{ ecr_repo }}/{{ project_name }}-{{ container_name }}"
        container_image_url: "ncidockerhub.nci.nih.gov/icdc/{{ project_name }}-{{ container_name }}"
        ###################################################################################
        url_src: "{% if tier == 'prod' or tier == 'stage' %}CLOUD_FRONT{% else %}indexd{% endif %}"
        indexd_url: "{{ lookup('amazon.aws.aws_secret', 'bento/{{ project_name }}/{{ tier }}.indexd_url', nested=true, region='us-east-1') }}"
        auth_enabled: "false"
        newrelic_license_key: "{{ lookup('amazon.aws.aws_secret', 'monitoring/newrelic.api_key', nested=true, region='us-east-1') }}"
        container_env:
        - name: VERSION
          value: "{{ files_version }}"
        - name: DATE
          value: "{{ ansible_date_time.date }}"
        - name: PROJECT
          value: "{{ project_name }}"
        - name: CF_URL
          value: "https://{{ cloudfront_domain_name }}"
        - name: CF_PRIVATE_KEY
          value: "{{ cloudfront_private_key }}"
        - name: CF_KEY_PAIR_ID
          value: "{{ cloudfront_key_group_id }}"
        - name: URL_SRC
          value: "{{ url_src }}"
        - name: AUTH_ENABLED
          value: "{{ auth_enabled }}"
        - name: AUTH_URL
          value: "{% if tier == 'prod'  and project_name == 'bento' %}https://{{domain_name}}/api/auth/authenticated{% elif tier == 'prod' %}https://{{subdomain}}.{{domain_name}}/api/auth/authenticated{% else %}https://{{subdomain}}-{{tier}}.{{domain_name}}/api/auth/authenticated{% endif %}"
        - name: BACKEND_URL
          value: "{% if tier == 'prod'  and project_name == 'bento' %}https://{{domain_name}}/v1/graphql/{% elif tier == 'prod' %}https://{{subdomain}}.{{domain_name}}/v1/graphql/{% else %}https://{{subdomain}}-{{tier}}.{{domain_name}}/v1/graphql/{% endif %}"
        - name: INDEXD_URL
          value: "{{ indexd_url }}"
        - name: NEW_RELIC_LICENSE_KEY
          value: "{{ newrelic_license_key }}"
        - name: NEW_RELIC_APP_NAME
          value: "{{ project_name }}-{{ tier }}-files-{{ ansible_hostname }}"