---
- name: load data to opensearch
  hosts: loader
  connection: local
  gather_facts: yes
  #become: yes

  tasks:
    #install collections
    - name: install aws collection
      shell: "ansible-galaxy collection install {{ item | quote }} --force"
      loop:
        - amazon.aws:<=5.4.0
        - community.aws:<=3.2.0
        - community.docker:<=2.7.1
        #- git+https://github.com/CBIIT/datacommons-devops.git#/ansible/collections/bento/common/,collections_v1.2
        - git+https://github.com/CBIIT/datacommons-devops.git#/ansible/collections/bento/common/,icdc
    
    # #install collections
    # - name: install aws collection
    #   shell: "ansible-galaxy collection install {{ item | quote }} --force"
    #   loop:
    #     - community.docker:<=3.4.3
    #     - amazon.aws:<=5.4.0
    #     - community.aws:<=3.2.0
    #     #- git+https://github.com/CBIIT/datacommons-devops.git#/ansible/collections/bento/common/,main
    #     - git+https://github.com/CBIIT/datacommons-devops.git#/ansible/collections/bento/common/,icdc

#    #get db ip
#    - name: get db ip
#      include_role:
#        name: bento.common.neo4j_ip
#      vars:
#        ansible_python_interpreter: /usr/bin/python3
#        project_name:  "{{ lookup('env','PROJECT_NAME') }}"
#        tier: "{{ lookup('env','TIER') }}"
#        database_name: "{{ lookup('amazon.aws.aws_secret', 'bento/{{ project_name }}/{{ tier }}.neo4j_ip', nested=true, region='us-east-1' ) }}"

    #load data
    - name: perform data loading
      include_role:
        name: bento.common.opensearch_loader
      vars:
        ansible_python_interpreter: /usr/bin/python3
        project_name:  "{{ lookup('env','PROJECT_NAME') }}"
        tier: "{{ lookup('env','TIER') }}"
        workspace: "{{ lookup('env','WORKSPACE') }}"
        region: us-east-1
        neo4j_user: "{{ lookup('amazon.aws.aws_secret', 'bento/{{ project_name }}/{{ tier }}.neo4j_user', nested=true, region='us-east-1' ) }}"
        neo4j_password: "{{ lookup('amazon.aws.aws_secret', 'bento/{{ project_name }}/{{ tier }}.neo4j_password', nested=true, region='us-east-1' ) }}"
        neo4j_ip: "{{ lookup('amazon.aws.aws_secret', 'bento/{{ project_name }}/{{ tier }}.neo4j_ip', nested=true, region='us-east-1' ) }}"
        es_host: "https://{{ lookup('amazon.aws.aws_secret', 'bento/{{ project_name }}/{{ tier }}.es_host', nested=true, region='us-east-1' ) }}"
        model_file1: "{{ workspace }}/icdc-model/model-desc/icdc-model.yml"
        model_file2: "{{ workspace }}/icdc-model/model-desc/icdc-model-props.yml"
        property_file: "config/props-{{ project_name }}.yml"
        about_file: "{{ workspace }}/{{ project_name }}-frontend/src/content/pre-prod/aboutPagesContent.yaml"
        #about_file: "{{ workspace }}/{{ project_name }}-frontend/src/content/{{ tier }}/aboutPagesContent.yaml"
        indices_file: "{{ workspace }}/bento-backend/src/main/resources/yaml/es_indices_{{ project_name }}.yml"
