---
- name: Opensearch restore
  hosts: all
  connection: local
  gather_facts: yes
  remote_user: commonsdocker

  tasks:
    #install collections
    - name: install aws collection
      shell: "ansible-galaxy collection install {{ item | quote }} --force"
      loop:
       # - community.docker:<=3.4.3
        #- git+https://github.com/CBIIT/datacommons-devops.git#/ansible/collections/bento/common/,v1.19
        - git+https://github.com/CBIIT/datacommons-devops.git#/ansible/collections/bento/common/,os_debug
        
    #load data
    - name: perform opensearch backup
      include_role:
        name: bento.common.opensearch_dataloading
        tasks_from: opensearchrestore
      vars:
        #ansible_python_interpreter: /usr/local/bin/python3
        workspace: "{{ lookup('env','WORKSPACE') }}"
        project_name:  "{{ lookup('env','PROJECT') }}"
        tier: "{{ lookup('env','ENV') }}"
        region: "{{ lookup('env','REGION') }}"
        opensearch_host: "https://{{ lookup('amazon.aws.aws_secret', 'bento/{{ project_name }}/{{ tier }}.es_host', nested=true, region='us-east-1' ) }}/"
        snapshot_repo: "{{ project_name }}"
        s3_bucket: "{{lookup('env','S3_BUCKET')}}"
        snapshot_value: "{{lookup('env','SNAPSHOT_NAME')}}"
        base_path: ""
        indices: "{{lookup('env', 'INDICES')}}"
        role_arn: "{{lookup('env', 'ROLE_ARN')}}"